<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style_main.css') }}" />
  <title> Speech Emotion Recognition </title>
</head>

<body>

<div class="a">
<h1> <b> Speech Emotion Recognition </b> </h1>
</div>
<br>
<br>
<br>
<div class="b">
<h2> Input the audio file </h2>
<p> The file should be in the format .mp3 or .wav </p>

<label> Choose the File to upload: </label>
<input type="file" id="f" accept="audio/*" /> <br><br>
<div class="slide">
<p> Select the preferred time limit: <p>
<div class="tooltip"><input type="range" id="r" value="5" min="0" max="100" class="slider", step="5">
  <span class="tooltiptext">Time(in sec)</span>
</div>
</div>
<br><br>
<div class="tooltip"><input size=45 class="i" type="submit" value="submit" />
  <span class="tooltiptext">Submit Audio File</span>
</div>
<!-- <input size=45 class="i" type="submit" value="submit" /> -->
</div>
<br>
<br>
<br>
<div class="c">
<h2> The predicted Emotions are : </h2>
<output name="emotion" for="f"></output>
<p> Textoutput </p>

</div>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

</body>
</html>
