<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style_main.css') }}" />
  {% block head %}{% endblock %}

  <title> Speech Emotion Recognition </title>

</head>

<body>
  {% block body %}{% endblock %}
<div class="a">
<h1> <b> Speech Emotion Recognition </b> </h1>
</div>
<br>
<br>
<br>
<div class="b">
<h2> Input the audio file </h2>

<!-- initialising form structure and inputs with method = POST -->
<form action="/prediction" method="post" enctype="multipart/form-data">
<p class = 'para'> <bold>Audio File:</bold> <input type="file" id="f" name="file" accept="audio/*" /> </p><br><br>
  
<div class="slide">
<p> Select the preferred time limit: <p>
<span id="slider_value2" style="color:blue;font-weight:500;"></span>
<input type="range" id="r" value="5" min="0" max="100" class="slider", step="5" onchange="show_value2(this.value)" >
</div>

<br><br>

<div class="tooltip"><input size=45 class="i" type="submit" value="predict" />
  <span class="tooltiptext">Submit Audio File</span>
</div>
<!-- <input size=45 class="i" type="submit" value="submit" /> -->
</form>
</div>



<br>
<br>
<br>

{% if transcript!="" %}
<div class="c">
<p class = "pred"> The predicted Emotion is : </p>
<p> {{ emotion }} </p><br>
<h2> Transcript </h2>
<p> {{ transcript }} </p>
<h2> Spectrogram of the given audio : </h2>
<img src="/home/brillard/bricode/repo/speech_emo_recognition/Speech_Emotion_Recognition/y.png" height:"500" width:"600">
</div>
{% endif %}

<!-- <script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script> -->

</body>
</html>
